.ft {
  border: solid; 10px; 
  border-color: lightcyan;
  text-align:center;
  vertical-align: middle;
  height: 40px;
  margin:10px;
  width:100%;
  vertical-align:center;
  display:table;
}

.ft h3 {
   display:table-cell;
   vertical-align:middle;
}